* {
	margin:0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
body {
	background-color: #F5F6F8;
}
#all {
	width: 1200px;
	margin:auto; 
	margin-top: 50px;
}
#all #headers {
	width: 100%;
	height: 73.6px;
	background-color: white;
}
#all #headers #gxq {
	font-size: 25px;
	color: black;
	margin-left: 20px;
	position: relative;
	top: 18px;
}
#all #headers ul li {
	display: inline-block;
	padding: 10px;
	position: relative;
	left: 250px;
	top: -20px;
}
#all #headers ul li a {
	color: black;
	font-weight: 600;
}
#all #headers ul #jpp a{
	color: red;
}
#all #headers #sousuok input{
	width: 180px;
	height: 25px;
	border-radius: 15px;
	border:#ccc 1px solid; 
	padding-left: 15px;
	position: absolute;
	left: 900px;
	top: 75px;
	outline:none;
}
#all #headers #sosuo a img{
	width: 18px;
	height: 18px;
	position: absolute;
	left: 1070px;
	top: 79px;
}
#all #headers #loginregist #login,#register {
	width: 60px;
	height: 30px;
	border-radius: 13px;
}
#all #headers #loginregist #login {
	position: absolute;
	left: 1150px;
	top: 75px;
	outline:none;
	background-color: red;
	color: white;
}
#all #headers #loginregist #register {
	position: absolute;
	left: 1250px;
	top: 75px;
	outline:none;
	background-color: white;
	color: red;
}
#all #centers p{
	color: #C1C2C4;
	margin-left: 20px;
	font-size: 13px;
}
#content {
	width: 1000px;
	height: 500px;
	background-color: black;
	margin-left: 20px;
	margin-top: 20px;
}
#all #names #first {
	font-size: 20px;
	font-weight: 700;
}
#all #names {
	margin-left: 30px;
	margin-top: 10px;
}
#all #daren ul li {
	display: inline-block;
	margin-left: 30px;
	margin-top: 10px;
}
#all #daren ul li a {
	color:gray;
	font-size: 15px;
}
#all #daren #one a{
	color: red;
}
hr {
	width: 1000px;
	margin-top: 10px;
	margin-left: 20px;
}
#all #geren #touxiang {
	width: 50px;
	height: 50px;
	background-color: pink;
	margin-left: 40px;
	margin-top: 10px;
	border-radius: 50%;
}
#all #geren p {
	font-size: 15px;
	padding-top: 5px;
}
#all #geren #xxi {
	position: absolute;
	left: 300px;
	top: 748px;
}
#all #geren #xxi1 p{
	padding-left: 100px;
	display: inline-block;
}
#all #geren #xxi1 {
	position: absolute;
	left: 650px;
	top: 748px;
}
#all #xuanji {
	width: 990px;
	height: 60px;
	background-color: #F7F8FC;
	margin-left: 30px;
	margin-top: 10px;
}
#all #xuanji p {
	line-height: 60px;
	margin-left: 20px;
	font-size: 15px;
	color: gray;
}
#all #xuanji ul li{
	width: 60px;
	height: 40px;
	background-color: #FEFEFC;
	display: inline-block;
	border-radius: 10px;
}
#all #xuanji ul a {
	text-align: center;
	line-height: 40px;
}
#all #xuanji ul {
	position: absolute;
	top: 820px;
	left: 300px;
}
#all #xuanji ul #dd{
	background-color: red;
}
#all #xuanji ul a li {
	color: black;
}
#all #pinlun {
	width: 750px;
	height: 300px;
	background-color: #FFFFFF;
	margin-left: 20px;
}
#all #pinlun p {
	font-size: 20px;
	margin-left: 30px;
	margin-top: 20px;
}
#all #pinlun #firstpl #touxiang1 {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: pink;
	margin-left: 30px;
	margin-top: 10px;
}
#all #pinlun #firstpl p {
	font-size: 15px;
	position: absolute;
	top: 910px;
	left: 250px;
}
#all #pinlun #firstpl #times {
	font-size: 15px;
	position: absolute;
	top: 930px;
	left: 750px;
	color: gray;
}
#all #contentss {
	font-size: 15px;
	position: absolute;
	top: 960px;
	left: 280px;
} 


#all #pinlun #firstp2 #touxiang2 {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: pink;
	margin-left: 30px;
	margin-top: 50px;
}
#all #pinlun #firstp2 p {
	font-size: 15px;
	position: absolute;
	top: 1010px;
	left: 250px;
}
#all #pinlun #firstp2 #times1 {
	font-size: 15px;
	position: absolute;
	top: 1030px;
	left: 750px;
	color: gray;
}
#all #contentss1 {
	font-size: 15px;
	position: absolute;
	top: 1060px;
	left: 280px;
} 
#all #shipin {
	width: 250px;
	height: 300px;
	background-color: #F7F8FC;
	position: absolute;
	left: 929px;
	top: 890px;
}
#all #shipin p {
	font-size: 20px;
	color: black;
}
#sp1,
#sp2,
#sp3 {
	width: 100px;
	height: 70px;
}
#all #shipin #sp1 {
	margin-top: 10px;
	background-color: pink;
}
#all #shipin #sp2 {
	margin-top: 20px;
	background-color: blue;
}
#all #shipin #sp3 {
	margin-top: 30px;
	background-color: green;
}
#all #shipin #jd1 {
	font-size: 12px;
	position: absolute;
	left: 125px;
	top: 40px;
}
#all #shipin #gx1 {
	font-size: 12px;
	position: absolute;
	left: 125px;
	top: 85px;
}

#all #shipin #jd2 {
	font-size: 12px;
	position: absolute;
	left: 125px;
	top: 130px;
}
#all #shipin #gx2 {
	font-size: 12px;
	position: absolute;
	left: 125px;
	top: 175px;
}

#all #shipin #jd3 {
	font-size: 12px;
	position: absolute;
	left: 125px;
	top: 230px;
}
#all #shipin #gx3 {
	font-size: 12px;
	position: absolute;
	left: 125px;
	top: 275px;
}